@{
    ViewData["Title"] = "Privacy Policy";
}
<head>
    <style>
        body {
            background-image: url('~/img/fondo.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
</head>
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
