@model ProyectoClinica.Models.Diagnosis

@{
    ViewData["Title"] = "Create";

    var id = @ViewContext.RouteData.Values["id"];
}
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:black !important">
    <a class="navbar-brand" href="#" style="color:aliceblue">Clinica Medica <i class="fas fa-stethoscope"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <form class="form-inline my-2 my-lg-0" style="margin-left:800px">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="btn btn-outline-light" asp-action="" asp-controller="">Salir <span class="sr-only">(current)</span><i class="fas fa-sign-out-alt"></i></a>
                </li>

            </ul>
        </form>
    </div>
</nav>
<h2 style="margin-top:20px; text-align: center; color: aliceblue; font-family: 'Century Gothic' ">Agregar Diagnostico <i class="fas fa-clinic-medical"></i></h2>

<hr />


<body style="background-color:gray">
    <div class="container">
        <div class="row" style="margin-left:450px">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Symptoms" class="control-label"></label>
                    <input asp-for="Symptoms" class="form-control" />
                    <span asp-validation-for="Symptoms" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Exams" class="control-label"></label>
                    <input asp-for="Exams" class="form-control" />
                    <span asp-validation-for="Exams" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Prescription" class="control-label"></label>
                    <input asp-for="Prescription" class="form-control" />
                    <span asp-validation-for="Prescription" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <input asp-for="PacienteId" class="form-control" hidden value="@id" />
                </div>

                <div class="row">
                    <div class="form-group col-4">
                        <input type="submit" value="Guardar" class="btn btn-outline-light" />
                    </div>
                    <div>
                        <div class="form-group col-4">
                            <a asp-action="Patients" asp-controller="Diagnosis" class="btn btn-outline-light" style="margin-left:10px">Regresar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    
        
    
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
