
@model ProyectoClinica.Models.Patient

@{
    ViewData["Title"] = "MenuRecepcion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <h6>Hola</h6>

  
    
</body>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
