@model ProyectoClinica.Models.Appointment

@{
    ViewData["Title"] = "Edit";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:black !important">
    <a class="navbar-brand" href="#" style="color:aliceblue">Clinica Medica <i class="fas fa-stethoscope"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <form class="form-inline my-2 my-lg-0" style="margin-left:800px">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="btn btn-outline-light" asp-action="" asp-controller="">Salir <span class="sr-only">(current)</span><i class="fas fa-sign-out-alt"></i></a>
                </li>

            </ul>
        </form>
    </div>
</nav>

<h2 style="margin-top:20px; text-align: center; color: aliceblue; font-family: 'Century Gothic' ">Editar Cita <i class="fas fa-clinic-medical"></i></h2>
<hr />

<body style="background-color:gray">

    <div class="container">
        <div class="row" style="margin-left:400px">
            <div class="col-md-5">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="IdAppointment" />
                    <div class="form-group">
                        <label asp-for="DateAppo" class="control-label" style="font-family:'Century Gothic'; font-weight:bold"></label>
                        <input asp-for="DateAppo" class="form-control" />
                        <span asp-validation-for="DateAppo" class="text-danger"></span>
                    </div>

                    <div class="form-group">

                        <select asp-for="PacienteId" class="form-control" asp-items="ViewBag.PacienteId" hidden></select>
                        <span asp-validation-for="PacienteId" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="margin-left:50px" >
                        <input type="submit" value="Editar" class="btn btn-outline-light" />
                        <a asp-action="Index" asp-route-id="@Model.PacienteId" class="btn btn-outline-light">Regresar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    

</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
